body {
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 150%;
}
h1 {
  margin: 0px;
  font-size: 5.625rem;
  font-family: "Caveat", cursive;
  margin-top: 50px;
}
h2 {
  font-size: 2.5rem;
}
.future {
  text-decoration: underline;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.prezentare {
  background-color: #f2deba;
  position: relative;
  padding-top: 100px;
}
.mid-img {
  height: 250px;
  width: 250px;
}
